
  <div class="events-list">
    <% @events.each do |event| %>
      <% if Date.current < event.date %>
        <div class="event-box">
          <img src="<%= event.image %>" style="width:304px;height:228px;">
          <div class="box-content">
            <div class="trip-link">
              <span><%= link_to event.name, event %></span>
            </div>
            <div class="description">
              <span><%= event.description %></span>
              <p><%= event.date.strftime("%B %d, %Y") %></p>
            </div>
            <div class="capacity">
              <% spots_taken = Attendance.where(event_id: event.id).size %>
              <% remaining_spots = event.limit - spots_taken %>
              <span>Spots Remaining: <%= remaining_spots %></p>
            </div>
          </div>
        </div>
        <% else %>
      <% end %>
    <% end %>
  </div>
