<div class="show-page">
  <h1><%= @event.name %></h1>
    <div class="event-trip">
      <div class="trip-image">
        <img src="<%= @event.image %>" style="width:304px;height:228px;">
      </div>
      <% if current_user %>
        <div class="sign-up">
          <%= form_tag "/users", method: :post do %>
            <%= hidden_field_tag :event_id, @event.id %>
            <%= submit_tag "Join Event" %>
          <% end %>
      <% else %>
        </div>
      <% end %>
      <div class="event-items">
        <% @event.essential_items.each do |item| %>
          <p><%= item.item_name %></p>
        <% end %>
      </div>
    </div>
</div>
