<!DOCTYPE html>
<html>
  <head>
    <title>Outdoor New England</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/ss" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ultra" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="topnav" id="myTopnav">
      <div class="top-bar">
        <div class="top-bar-left">
          <div class="bar-links">
            <% if current_user %>
              <%= link_to "Events", root_path %><br/>
              <%= link_to "Create Event", static_pages_new_path %><br/>
              <%= link_to "Profile", user_path(current_user) %>
            <% else %>
              <%= link_to "Events", root_path %><br/>
            <% end %>
          </div>
        </div>
        <div class="top-bar-right">
          <div class="search">
            <span class="has-form">
              <input type="search" placeholder="Search">
            </span>
            <span class="search-button">
              <button type="button" class="button">Search</button>
            </span>
          </div>
        </div>
        <h1 class="index-title">Outdoor New England</h1>
      </div>
    </div>
    <div class="event-index-contents">
      <div class="sign-in">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign Out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
